<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.geotasks.android" android:versionCode="1"
	android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/Theme.GeoTasks">

		<provider android:name="com.geotasks.provider.GeoTasksProvider"
			android:authorities="com.geotasks.provider.geotasksprovider">
			<grant-uri-permission android:pathPattern=".*" />
		</provider>

		<activity android:name="com.geotasks.ui.TasksList"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.geotasks.ui.PlacesList"
			android:label="@string/places">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.geotasks.ui.TaskEditor"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.geotasks.task" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.geotasks.task" />
			</intent-filter>
		</activity>
		
		<activity android:name="com.geotasks.ui.PlaceEditor"
			android:label="@string/places">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.geotasks.place" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.geotasks.place" />
			</intent-filter>
		</activity>

	</application>
</manifest>